In [1]:
import pandas as pd
import psycopg2
import os
import sys

In [2]:
conn = psycopg2.connect(   
    host="localhost",
    database="postgres",
    user="postgres",
    password="Fred3001!",
    port="5432")

newsletter_df = pd.read_sql_query("SELECT * FROM newsletter", conn)

C:\Users\Admin\AppData\Local\Temp\ipykernel_12828\2853018828.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  newsletter_df = pd.read_sql_query("SELECT * FROM newsletter", conn)

In [3]:
newsletter_df = newsletter_df.sort_values(by='received_at', ascending=False)
newsletter_df = newsletter_df.drop(columns=['id','sender','extracted_text', 'message_id', 'token_count', 'vectorized', 'created_at'])

In [4]:
newsletter_df.head(10)

,title,category,received_at,chunked_text
183,UBS's profit beats,morning_briefing:_europe,2025-07-30 07:33:39,[Morning Briefing: Europe \n Bloomberg Morning...
311,Breaking News: Japan Issues Tsunami Warning fo...,bloomberg_news_alert,2025-07-30 03:15:53,[Bloomberg News Alert \n\n\n \n\n Japan Issues...
192,Money Stuff: UBS FX Trades Were Too Good,money_stuff,2025-07-29 20:13:50,"[Money Stuff \n FX, Sinovac, Daily Journal, in..."
193,Industrial action,bloomberg_deals,2025-07-29 19:44:32,[Bloomberg Deals \n Plus: Iveco nears deals wi...
194,Harsh reality,evening_briefing:_europe,2025-07-29 18:37:08,[Evening Briefing: Europe \n Evening Briefing ...
131,Economics Daily: ‘Stockholm syndrome’,economics_daily,2025-07-29 13:06:38,"[Economics Daily \n I’m Chris Anstey, an econo..."
134,Sony's anime music goes platinum,tech_in_depth,2025-07-29 13:04:47,"[Tech In Depth \n Welcome to Tech In Depth, ou..."
77,Supply Lines: Now for the fine print,supply_lines,2025-07-29 13:00:37,[Supply Lines \n It took less than 48 hours af...
78,Reiches Sommertour mit Tücken: Fünf Themen des...,five_things:_germany,2025-07-29 12:41:27,[Five Things: Germany \n Nick Heubeck über get...
79,Preventing lip cancer,prognosis,2025-07-29 12:00:48,[Prognosis \n Where your skin is so thin. \n\n...

In [5]:
from pathlib import Path
from datetime import date, timedelta

REPO_ROOT = Path.cwd().parents[0]  # going back once from the current directory
SCRIPT_PATH = REPO_ROOT / "Scripts"
sys.path.append(str(SCRIPT_PATH))
from data import update_intraday_csv, update_daily_csv

update_intraday_csv("NVDA")
update_intraday_csv("INOD")
update_intraday_csv("MRVL")
update_intraday_csv("TSLA")

update_daily_csv("NVDA")
update_daily_csv("INOD")
update_daily_csv("MRVL")
update_daily_csv("TSLA")

intraday_nvd = pd.read_csv('..\\raw_data\\intraday\\intraday_NVDA.csv')
intraday_mrvl = pd.read_csv('..\\raw_data\\intraday\\intraday_MRVL.csv')
intraday_inod = pd.read_csv('..\\raw_data\\intraday\\intraday_INOD.csv')
intraday_tsla = pd.read_csv('..\\raw_data\\intraday\\intraday_TSLA.csv')

daily_nvd = pd.read_csv('..\\raw_data\\daily_NVDA.csv')
daily_mrvl = pd.read_csv('..\\raw_data\\daily_MRVL.csv')
daily_inod = pd.read_csv('..\\raw_data\\daily_INOD.csv')
daily_tsla = pd.read_csv('..\\raw_data\\daily_TSLA.csv')

Fetching NVDA from 2025-08-01 to 2025-08-09...

$NVDA: possibly delisted; no price data found  (1m 2025-08-01 -> 2025-08-09)

No new data returned for NVDA.
Fetching INOD from 2025-08-01 to 2025-08-09...

$INOD: possibly delisted; no price data found  (1m 2025-08-01 -> 2025-08-09)

No new data returned for INOD.
Fetching MRVL from 2025-08-01 to 2025-08-09...

$MRVL: possibly delisted; no price data found  (1m 2025-08-01 -> 2025-08-09)

No new data returned for MRVL.
Fetching TSLA from 2025-08-01 to 2025-08-09...

$TSLA: possibly delisted; no price data found  (1m 2025-08-01 -> 2025-08-09)

No new data returned for TSLA.
Fetching NVDA daily data from 2025-08-01 to 2025-08-09...

c:\Users\Admin\Documents\GitHub\Hitherto\Scripts\data.py:100: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  merged_df = pd.concat([old_df, df], sort=False)
c:\Users\Admin\Documents\GitHub\Hitherto\Scripts\data.py:100: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  merged_df = pd.concat([old_df, df], sort=False)

Data for NVDA saved to daily_NVDA.csv.
Fetching INOD daily data from 2025-08-01 to 2025-08-09...
Data for INOD saved to daily_INOD.csv.
Fetching MRVL daily data from 2025-08-01 to 2025-08-09...

c:\Users\Admin\Documents\GitHub\Hitherto\Scripts\data.py:100: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  merged_df = pd.concat([old_df, df], sort=False)
c:\Users\Admin\Documents\GitHub\Hitherto\Scripts\data.py:100: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  merged_df = pd.concat([old_df, df], sort=False)

Data for MRVL saved to daily_MRVL.csv.
Fetching TSLA daily data from 2025-08-01 to 2025-08-09...
Data for TSLA saved to daily_TSLA.csv.

In [6]:
print(daily_inod.head(10))
print(intraday_inod.head(10))
print(newsletter_df.head(10))
from zoneinfo import ZoneInfo


def clean_daily_data(df):
    """
    Cleans the daily data DataFrame by removing unnecessary columns and
    converting timezone from US/Eastern to Europe/Berlin.
    """
    df['Date'] = pd.to_datetime(df['Date'])
    if df['Date'].dt.tz is None:
        df['Date'] = df['Date'].dt.tz_localize('US/Eastern')
    df['Date'] = df['Date'].dt.tz_convert('Europe/Berlin')
    df = df.drop(columns=['Volume', 'Dividends', 'Stock Splits'])
    return df

def clean_intraday_data(df):
    """
    Cleans the intraday data DataFrame by removing unnecessary columns, renaming others,
    and converting timezone from US/Eastern to Europe/Berlin.
    """
    # Ensure datetime is parsed
    df['Datetime'] = pd.to_datetime(df['Datetime'])

    # If tz-naive, localize to US/Eastern; then convert to Europe/Berlin
    if df['Datetime'].dt.tz is None:
        df['Datetime'] = df['Datetime'].dt.tz_localize('US/Eastern')
    df['Datetime'] = df['Datetime'].dt.tz_convert('Europe/Berlin')

    # Extract components **after** timezone conversion
    df['Date'] = df['Datetime'].dt.date
    df['Time'] = df['Datetime'].dt.time
    df['Hour'] = df['Datetime'].dt.hour
    df['Minute'] = df['Datetime'].dt.minute

    # Drop unneeded columns if they exist
    for col in ['Dividends', 'Stock Splits']:
        if col in df.columns:
            df = df.drop(columns=col)
    df = df.drop(columns=['Datetime'])
    return df

intraday_inod = clean_intraday_data(intraday_inod)
intraday_mrvl = clean_intraday_data(intraday_mrvl)
intraday_nvd = clean_intraday_data(intraday_nvd)
intraday_tsla = clean_intraday_data(intraday_tsla)

daily_inod = clean_daily_data(daily_inod)
daily_mrvl = clean_daily_data(daily_mrvl)
daily_nvd = clean_daily_data(daily_nvd)
daily_tsla = clean_daily_data(daily_tsla)

                        Date       Open       High        Low      Close  \
0  2025-07-01 00:00:00-04:00  50.099998  50.860001  46.299999  47.389999
1  2025-07-02 00:00:00-04:00  46.509998  48.549999  46.150002  47.939999
2  2025-07-03 00:00:00-04:00  48.500000  50.709999  48.470001  50.130001
3  2025-07-07 00:00:00-04:00  48.889999  51.340000  47.810001  50.990002
4  2025-07-08 00:00:00-04:00  51.730000  55.689999  49.750000  50.970001
5  2025-07-09 00:00:00-04:00  51.689999  52.580002  49.410000  52.040001
6  2025-07-10 00:00:00-04:00  53.130001  53.860001  50.470001  52.700001
7  2025-07-11 00:00:00-04:00  52.000000  52.660000  49.290001  49.720001
8  2025-07-14 00:00:00-04:00  49.430000  50.580002  47.320000  50.340000
9  2025-07-15 00:00:00-04:00  50.880001  51.500000  48.369999  49.099998

    Volume  Dividends  Stock Splits
0  2774900        0.0           0.0
1  2516200        0.0           0.0
2  1526300        0.0           0.0
3  1733600        0.0           0.0
4  2922400        0.0           0.0
5  1640700        0.0           0.0
6  1633900        0.0           0.0
7  1630100        0.0           0.0
8  1754500        0.0           0.0
9  1651800        0.0           0.0
                    Datetime       Open       High        Low      Close  \
0  2025-06-23 09:30:00-04:00  46.915001  47.129700  46.630001  46.959999
1  2025-06-23 09:31:00-04:00  46.799999  46.799999  46.119701  46.330002
2  2025-06-23 09:32:00-04:00  46.200001  46.200001  44.520500  44.660000
3  2025-06-23 09:33:00-04:00  44.660000  44.930698  44.340000  44.801201
4  2025-06-23 09:34:00-04:00  44.500000  44.918201  44.340000  44.860001
5  2025-06-23 09:35:00-04:00  44.806599  44.915001  44.000000  44.074299
6  2025-06-23 09:36:00-04:00  44.040001  44.641399  44.000000  44.520000
7  2025-06-23 09:37:00-04:00  44.580002  44.900002  44.435001  44.830002
8  2025-06-23 09:38:00-04:00  44.910000  44.977600  44.740002  44.904999
9  2025-06-23 09:39:00-04:00  44.929401  45.310001  44.810001  45.279999

   Volume  Dividends  Stock Splits
0  335388        0.0           0.0
1   58983        0.0           0.0
2   60705        0.0           0.0
3  233020        0.0           0.0
4   71585        0.0           0.0
5   86815        0.0           0.0
6   36101        0.0           0.0
7   34662        0.0           0.0
8   58491        0.0           0.0
9   27922        0.0           0.0
                                                 title  \
183                                 UBS's profit beats
311  Breaking News: Japan Issues Tsunami Warning fo...
192           Money Stuff: UBS FX Trades Were Too Good
193                                  Industrial action
194                                      Harsh reality
131              Economics Daily: ‘Stockholm syndrome’
134                   Sony's anime music goes platinum
77                Supply Lines: Now for the fine print
78   Reiches Sommertour mit Tücken: Fünf Themen des...
79                               Preventing lip cancer

                     category         received_at  \
183  morning_briefing:_europe 2025-07-30 07:33:39
311      bloomberg_news_alert 2025-07-30 03:15:53
192               money_stuff 2025-07-29 20:13:50
193           bloomberg_deals 2025-07-29 19:44:32
194  evening_briefing:_europe 2025-07-29 18:37:08
131           economics_daily 2025-07-29 13:06:38
134             tech_in_depth 2025-07-29 13:04:47
77               supply_lines 2025-07-29 13:00:37
78       five_things:_germany 2025-07-29 12:41:27
79                  prognosis 2025-07-29 12:00:48

                                          chunked_text
183  [Morning Briefing: Europe \n Bloomberg Morning...
311  [Bloomberg News Alert \n\n\n \n\n Japan Issues...
192  [Money Stuff \n FX, Sinovac, Daily Journal, in...
193  [Bloomberg Deals \n Plus: Iveco nears deals wi...
194  [Evening Briefing: Europe \n Evening Briefing ...
131  [Economics Daily \n I’m Chris Anstey, an econo...
134  [Tech In Depth \n Welcome to Tech In Depth, ou...
77   [Supply Lines \n It took less than 48 hours af...
78   [Five Things: Germany \n Nick Heubeck über get...
79   [Prognosis \n Where your skin is so thin. \n\n...

In [7]:
print(daily_inod.head(1))
print(intraday_inod.head(1))
print(newsletter_df.head(1))

                       Date       Open       High        Low      Close
0 2025-07-01 06:00:00+02:00  50.099998  50.860001  46.299999  47.389999
        Open     High        Low      Close  Volume        Date      Time  \
0  46.915001  47.1297  46.630001  46.959999  335388  2025-06-23  15:30:00

   Hour  Minute
0    15      30
                  title                  category         received_at  \
183  UBS's profit beats  morning_briefing:_europe 2025-07-30 07:33:39

                                          chunked_text
183  [Morning Briefing: Europe \n Bloomberg Morning...

In [ ]:
def add_returns_to_entries(entries_df, daily_ohlc_df,
                           entry_date_col='received_at',
                           price_date_col='Date',
                           return_days=[1, 3]):
    """
    Adds future returns to an entries dataframe based on close prices in daily OHLC data.
    Adjusts for weekends when calculating returns.
    """
    entries_df = entries_df.copy()
    daily_ohlc_df = daily_ohlc_df.copy()

    # Normalize to timezone-naive date
    entries_df['entry_date'] = pd.to_datetime(entries_df[entry_date_col], errors='coerce').dt.date
    daily_ohlc_df['price_date'] = pd.to_datetime(daily_ohlc_df[price_date_col], errors='coerce').dt.tz_localize(None).dt.date

    # Prepare lookup
    trading_days = sorted(daily_ohlc_df['price_date'].dropna().unique())
    close_price_map = daily_ohlc_df.set_index('price_date')['Close'].to_dict()

    # Efficient trading day lookup with upper bound
    def get_t_plus_n(entry_date, n):
        if pd.isnull(entry_date):
            return None
        try:
            idx = trading_days.index(entry_date)
            if idx + n < len(trading_days):
                return trading_days[idx + n]
            else:
                return None  # No future price available
        except ValueError:
            return None  # entry_date not in trading_days

    for n in return_days:
        t_col = f't_plus_{n}'
        ret_col = f'{n}d_return'

        # Safely map T+n date
        entries_df[t_col] = entries_df['entry_date'].apply(lambda x: get_t_plus_n(x, n))

        # Compute return
        def calc_return(row):
            try:
                p0 = close_price_map.get(row['entry_date'])
                pn = close_price_map.get(row[t_col])
                if p0 is None or pn is None:
                    return None
                return (pn - p0) / p0
            except:
                return None

        entries_df[ret_col] = entries_df.apply(calc_return, axis=1)

    return entries_df

In [22]:
newsletter_df = add_returns_to_entries(newsletter_df, daily_inod,entry_date_col='received_at', 
                           price_date_col='Date', 
                           return_days=[1, 3])

print(newsletter_df.head(10).sort_values(by='received_at', ascending=True))

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 9223372800000000000